*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};
.color{
  border: black solid 1px;
};
.black{
  background-color: black;
};
.red{
  background-color: red;
};
.green{
  background-color: green;
};
.blue{
  background-color: blue;
};
